Makefile*
.bloop/*
.metals/*
.idea/*
test_run_dir/*
*~
logs_*
*.swp
*.json
*.fir
project/*
!project/build.properties
target/*
src/test/scala/project/*
src/test/scala/target/*
verilog/
formal/*
!formal/*.sby
public/
**/__pycache__/
src/test/cocotb/gpio/results.xml
src/test/cocotb/gpio/sim_build/*
!src/test/cocotb/**/Makefile
**/SoftFloat-3e/**
**/TestFloat-3e/**
**/sim_build
results.xml